<div class="row">
    <div id="myMap" (click)="getCoord($event)">
    </div>
</div>

<div><input type="button" id="getButton" name="getSchools" value="Get All Locations" (click)="getDataFromService() "></div>

<table *ngIf="getList" style="width:100%">
    <tr>
        <th>Location Name</th>
        <th>Adress</th>
        <th>Telephone</th>
    </tr>
    <tr *ngFor="let item of newDatas.data">
        
        <td>{{item.locationname}}</td>
        <td>{{item.adress}}</td>
        <td>{{item.telephone}}</td>
    </tr>
</table>